# C++/Scons specific
.sconsign.dblite
.scons_cache/
*.obj
*.os
*.o
*.pyc

# Compiled Binaries
demo/addons/ac-telemetry/bin/*
!demo/addons/ac-telemetry/bin/*.gdextension

# Development Files
demo/lap.bin