# C++/Scons specific
.sconsign.dblite
.scons_cache/
*.obj
*.os
*.o
*.pyc

# Compiled Binaries
src/gen/doc_data.gen.cpp
demo/addons/godot-sim-telemetry/bin/*

# Development Files
ac_mem.pdf
ac_evo_mem.mhtml
acc_mem.pdf
todo.md
todo*.md
